body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: white;
  background-color: black;
}

.doors {
  display: flex;
  justify-content: center;
}
.doors p {
  display: flex;
  justify-content: center;
}
.modal {  
  background-color: white;
  width: 50vw;
  left: 25vw;
  top: 80px;
  position: fixed;
  color: black;
}
.modal button {
  padding: 20px 10px;
  margin: 20px;
  width: 155px;
}
.modal button:focus {
  outline: 3px solid blue;
}
.modal p {
  padding: 20px 0 0;
}
.results {
  text-align: center;
  font-size: 16px;
}
.win {
  color: goldenrod;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  font-variant: small-caps;
}
.lose {
  color: red;
  font-weight: bold;
  font-variant: small-caps;
  letter-spacing: 2px;
  font-size: 20px;
}
button {
  padding: 10px;
  color: white;
  font-size: 16px;
  background-color: black;
}
@media screen and (max-width: 700px) {
  img {
    max-width: 70%;
  }
  .doors {
    width: 90%;
    margin: auto;
  }
}
table {
  min-width: 212px;
}
td, th {
  width: 4rem;
  height: 2rem;
  border: 1px solid gray;
  text-align: center;
}
th {
  background: lightgray;
  border-color: white;
  color: black;
}
.empty {
  background: black;
  border-top: none;
  border-bottom: none;
}
caption {
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  outline: 1px solid white;
  margin: 0 2px;
  height: 2rem;
}
.table {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.description {
  width: 50%;
  margin: auto;
}