body {
  display: flex;
  justify-content: center;
  text-align: center;
}

.doors {
  display: flex;
}
.doors p {
  display: flex;
  justify-content: center;
}
.modal {
  position: fixed;
  bottom: calc(50% - 200px);
  left: calc(50% - 240px);
  padding: 50px 25px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 3px;
}
.modal button {
  margin: 20px;
  width: 200px;
}
.results {
  text-align: center;
  font-size: 16px;
}
.win {
  color: goldenrod;
  font-size: 20px;
}
.lose {
  color: darkred;
  font-size: 20px;
}
button {
  padding: 10px;
  color: white;
  font-size: 16px;
  background-color: black;
}
@media screen and (max-width: 700px) {
  img {
    max-width: 70%;
  }
  .modal {
    left: 0;
    bottom: 25%;
  }
  .doors {
    width: 90%;
    margin: auto;
  }
}
